{% extends 'BaseUI/BaseFacility/baseDevice.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Data{% endblock %}

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div>
{#            {% if faci %}<a href="{% url 'equipmentDisplay' faci.facilityid %}">{{ faci.facilityname }}</a>{% endif %}#}
        </div>
        <div style="text-align: center">
            <caption><b style="font-size: 22px;color: #444444">List of Decives</b></caption>
            <br><br>
            <table class="table" id="mytable">
                <thead>
                    <tr>
                        <th width="200px" style="text-align: center"><i class="fa fa-tag"></i>&ensp;Type</th>
                        <th width="200px" style="text-align: center"><i class="fa fa-fax"></i>&ensp;Value</th>
                        <th width="200px" style="text-align: center"><i class="fa fa-bar-chart-o"></i>&ensp;Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in obj %}
                    <tr>
                        <td style="text-align: center">{{a.type_data}}</td>
                        <td style="text-align: center">{{a.value}}</td>
                        <td style="text-align: center">{{a.timestamp}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

{% endblock %}
