{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Device{% endblock %}

{% block vertical %}
    <a class="active">Device Management</a>
    <a href="{% block listproposal %}{% endblock %}"><i class="fa fa-list">&emsp;List of Proposal</i></a>
    <a href="{% block devices %}{% endblock %}"><i class="fa fa-envelope">&emsp;List of pakage</i></a>
    <a href="{% block backcomponent %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Component</i></a>
{% endblock %}